<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ToDropbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToDropbox.Properties.Settings>
            <setting name="savefolder" serializeAs="String">
              <value>D:\jkg\Dropbox\Public\ToDropbox</value>
            </setting>
            <setting name="urlprefix" serializeAs="String">
              <value>https://dl.dropbox.com/u/319776/</value>
            </setting>
            <setting name="urlsuffix" serializeAs="String">
              <value></value>
            </setting>
        </ToDropbox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
