<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToDropbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToDropbox.Properties.Settings>
            <setting name="savefolder" serializeAs="String">
                <value>C:\Users\jkgeyti\My Dropbox\Public\Screenshot</value>
            </setting>
            <setting name="urlprefix" serializeAs="String">
                <value>http://dropbox.jkg.dk/screenshot/</value>
            </setting>
            <setting name="urlsuffix" serializeAs="String">
                <value />
            </setting>
        </ToDropbox.Properties.Settings>
    </userSettings>
</configuration>